.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


#guitar_image{
   
  height: 10em;


}

#note{
   
  height: 80px;


}

.App-header {
  background-color: #222;
  background-image: url("header_background.png");
  height: 125px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-family: Georgia,Times,Times New Roman,serif; 
  font-style: italic;


}

.tab_input{

 margin: 5px;
 padding: 5px;
 width: 32%;
 font-size: 16px;
 background-color: #fc8585;
 border-top: none;
 border-left: none;
 border-right: none;
 border-bottom: none;
 border-radius: 8px;
   font-family: Georgia,Times,Times New Roman,serif; 


}

#guitar_tab_panel{

  float:left;
  font-family: Georgia,Times,Times New Roman,serif; 
    color: #EEE8AA;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
    background: #191515;
    background-image: linear-gradient(to bottom, #990000, #3d0000);

}
