.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 125px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.tab_input{

 margin: 5px;
 padding: 5px;
 width: 32%;
 font-size: 16px;
 background-color: #FF7F7F;
 border-top: none;
 border-left: none;
 border-right: none;
 border-bottom: none;
 border-radius: 8px;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {background-color: #990000}
