.tab_input{

 margin: 5px;
 padding: 5px;
 width: 50%;
 font-size: 16px;
 background-color: #F08080;
 border-top: none;
 border-left: none;
 border-right: none;
 border-bottom: none;
 border-radius: 8px;
 font-family: Georgia,Times,Times New Roman,serif; 

 
}

#music_tab_selector{
    margin-right: 2%;
	font-family: Georgia,Times,Times New Roman,serif; 
}


#tempo_input{
  width: 4%;
  margin-right: 2%;
  font-family: Georgia,Times,Times New Roman,serif; 
  
}

span {
    white-space: pre-wrap;
  	font-family: Georgia,Times,Times New Roman,serif; 
    color: #EEE8AA;

}

